h3 考评页面
style.
    tr th {
        text-align:center;
    }
    tbody tr td {
        text-align:center;
    }
    input {
        text-align:center;
    }

    .section-wrapper {

        margin-top: -50px;

        padding-top: 50px;

    }



    .section-wrapper:first-child .section {

        padding-top: 100px;

    }



    #nav {

        left: 0;

        list-style: none;

        overflow: hidden;

        position: fixed;

        right: 0;

        text-align: center;

        top: 0;

    }

    #nav li {

        display: inline-block;

        margin-bottom: 0;

    }

    #nav a {

        background: #fff;

        color: #000;

        display: block;

        padding: 10px;

    }

    #nav a:hover {

        background: none;

        color: #098ed6;

    }

    #nav .current a {

        background: #000;

        color: #fff;

    }



#container.row(style='overflow-y: scroll')
    .col-lg-12
        .row
            .form-inline.col-lg-12 
                h4.form-inline 姓名：
                    span {{$root.account.username}}
        hr
        .row
            .form-inline.col-lg-12 
                label.form-inline 选择部门：
                    select.form-control(ng-options='item.departmentName for item in relations', ng-model='department',ng-change='changeDepartment()')
                    .form-group.text-right
                label.form-inline 日期：
                    .input-group
                        input.form-control(type='text', placeholder='选择日期', ng-model='datePicked', datepicker-popup='{{format}}', is-open='opened.start', datepicker-options='dateOptions', my-date, ng-required='true', current-text='今天', clear-text='清除', close-text='关闭', ng-disabled='true', ng-change='checkSubmition()', max-date="todayDate")
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open($event, "start")')
                                em.fa.fa-calendar
                label(ng-show="submitted", style='color:red') 今日已提交！
        hr
        ul#nav
            li(ng-repeat='data_i in data') 
                a(href="#/app/evaluate#section{{data_i.id}}") {{data_i.indexName}}
        .col-lg-12(style='background-color:white').tableContainer        
            .form-group(ng-repeat='data_i in data')
                // START table-responsive
                div(id='section{{data_i.id}}').section
                    h4(style="text-align:center") {{data_i.indexName}}
                    .table-responsive
                        table.table.table-bordered.table-condensed.table-hover
                            thead
                                tr
                                    th.col-sm-1 序号
                                    th.col-sm-1 指标名称 
                                    th.col-sm-1 加分内容
                                    th.col-sm-2 数量
                                    th.col-sm-1 加分情况说明
                                    th.col-sm-1 减分内容
                                    th.col-sm-2 数量
                                    th.col-sm-1 减分情况说明
                                    th.col-sm-1 得分
                                    th.col-sm-1 操作
                            tbody(ng-repeat='item in data_i.items')
                                tr
                                    td {{$index+1}}
                                    td {{item.indexName}}
                                    td {{item.increaseName}}({{item.increasePoint}}分/{{item.increaseUnit}})
                                    td 
                                        button.btn(ng-click="operate(item, 0, -1)") 
                                            i.fa.fa-minus
                                        input(style="text-align: center;" type="text" size="2" placeholder="" ng-model="item.increaseNum")
                                        button.btn(ng-click="operate(item, 0, 1)")
                                            i.fa.fa-plus
                                    td 
                                        input(style="text-align: center;" type="text" placeholder="" ng-model="item.increaseDetail")
                                    td {{item.decreaseName}}(-{{item.decreasePoint}}分/{{item.decreaseUnit}})
                                    td 
                                        button.btn(ng-click="operate(item, 1, -1)") 
                                            i.fa.fa-minus
                                        input(style="text-align: center;" type="text" size="2" placeholder="" ng-model="item.decreaseNum")
                                        button.btn(ng-click="operate(item, 1, 1)")
                                            i.fa.fa-plus
                                    td 
                                        input(style="text-align: center;" type="text" placeholder="" ng-model="item.decreaseDetail")
                                    td {{item.totalPoint}}
                                    td
                                        button.btn.btn-link(type='button', ng-click='reset(item)')
                                            span 清空
                        //- tfoot
                        //-     tr(ng-if='results.length===0')
                        //-         td(colspan='11') 暂无数据
                // END table-responsive
            p 今日得分：{{totalPoints}}
            hr
            .row
                .col-lg-12.text-center
                    button.btn.btn-success(type='button', ng-click='submit()', ng-disabled='submitted') 提交
                    button.btn.btn-default(type='button', ng-click='resetAll()', ng-disabled='submitted') 重置
    