h3 提交成功！
style.
    tr th {
        text-align:center;
    }
    tbody tr td {
        text-align:center;
    }
    input {
        text-align:center;
    }

p 
    span.col-sm-2 姓名：{{person.username}}
    span 部门：{{person.department_name}}

hr
p
    span.h4 日期：
    span {{data[0].standard_date}}
hr
#container.row(style='overflow-y: scroll')

    .col-sd-12        
        // START panel
        .panel.panel-default
                .form-group(ng-repeat='data_i in data')
                    // START table-responsive
                    h4(style="text-align:center") {{data_i.index_name}}
                    hr
                    .table-responsive
                        table.table.table-bordered.table-condensed.table-hover
                            thead
                                tr
                                    th.col-sm-1 序号
                                    th.col-sm-1 指标名称 
                                    th.col-sm-1 加分内容
                                    th.col-sm-1 数量
                                    th.col-sm-2 加分情况说明
                                    th.col-sm-1 减分内容
                                    th.col-sm-1 数量
                                    th.col-sm-2 减分情况说明
                                    th.col-sm-1 得分
                            tbody(ng-repeat='item in data_i.items')
                                tr
                                    td {{$index+1}}
                                    td {{item.index_name}}
                                    td {{item.increase_name}}({{item.increase_point}}分/{{item.increase_unit}})
                                    td {{item.increase_num}}
                                    td {{item.increase_detail}}
                                    td {{item.decrease_name}}(-{{item.decrease_point}}分/{{item.decrease_unit}})
                                    td {{item.increase_num}}
                                    td {{item.decrease_detail}}
                                    td {{item.total_point}}
                            tfoot
                                tr(ng-if='results.length===0')
                                    td(colspan='11') 暂无数据
                    // END table-responsive
                    hr
                p
                    span
                        button.btn.btn-block.btn-success(type='button', ng-click='submit()') 返回
        