<h4>联系我们</h4>
<div class="panel">
   <div class="panel-body">
      <div class="row mb-lg">
         <div class="col-lg-6 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-6 text-center visible-md visible-lg">
                  <img src="app/img/logo.png" style="width:100%;height:auto" />
               </div>
               <div class="col-md-6">
                  <h4>北京达坤科技有限责任公司</h4>
                  <address></address>help@dakun.com
                  <br/>&nbsp;</div>
            </div>
         </div>
         <div class="col-lg-6 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-3 text-center visible-md visible-lg"></div>
               <div class="col-md-9">
                  <h4>{{agent.cname}}</h4>
                  <address></address>{{agent.email}}
                  <br/>{{agent.telephone}}</div>
            </div>
         </div>
      </div>
   </div>
</div>